<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liuguilin.im">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/img_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="ec7815e3d26f1d7fb86b283c01ccaa94" />

        <!--首页-->
        <activity android:name=".ui.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Bmob IM-->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />

        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />

        <service android:name="cn.bmob.newim.core.service.ReConnectService" />

        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

        <!--相机兼容7.0-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.liuguilin.im.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!--Service-->
        <service android:name=".service.IMService" />

        <!--BrocastReceiver-->

        <!--Activity-->

        <!--引导页-->
        <activity android:name=".ui.GuideActivity" />

        <!--主页-->
        <activity android:name=".MainActivity" />

        <!--注册-->
        <activity android:name=".ui.RegUserActivity" />

        <!--登录-->
        <activity
            android:name=".ui.LoginActivity" />

        <!--忘记密码-->
        <activity android:name=".ui.ForgetPwActivity" />

        <!--编辑信息-->
        <activity
            android:name=".ui.UserEditActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!--查询好友-->
        <activity android:name=".ui.QueryFriendActivity" />

        <!--用户详情-->
        <activity android:name=".ui.UserInfoActivity" />

        <!--添加好友-->
        <activity android:name=".ui.AddFriendActivity" />

        <!--新好友-->
        <activity android:name=".ui.NewFriendActivity" />

        <!--聊天-->
        <activity android:name=".ui.ChatActivity" />

        <!--二维码-->
        <activity android:name=".ui.MyQrCodeActivity" />

        <!--扫一扫-->
        <activity android:name=".ui.ScanActivity" />

        <!--设置-->
        <activity android:name=".ui.SettingActivity" />

        <!--修改密码-->
        <activity android:name=".ui.ChangePwActivity" />

    </application>

</manifest>